h1 {
    background: darkcyan;
}

.par-1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

.par-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
}

.par-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: "Courier New";
}

.par-4 {
    font-style: italic;
    text-align: center;
    font-size: 24px;
    text-shadow: 5px 1px green;
}